<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Perguntas e Respostas</a>
    <ul class="navbar-nav mr-auto">
        <a class="navbar-brand btn btn-primary" href="/perguntar">Nova Pergunta</a>
    </ul>
</nav>